<div
  class="w-full sm:w-24rem mx-auto mt-8 text-center flex flex-column align-items-center px-4 sm:px-0"
>
  <app-logo></app-logo>

  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="mt-6 w-full">
    <p-card>
      <!-- Username -->
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Username" formControlName="username" />
      </p-inputGroup>
      <!-- Password -->
      <p-inputGroup class="mt-2">
        <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
        <input
          pInputText
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </p-inputGroup>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Clear"
            severity="secondary"
            class="w-full"
            styleClass="w-full"
            (click)="loginForm.reset()"
          />
          <p-button
            label="Login"
            class="w-full"
            styleClass="w-full"
            [disabled]="loginForm.invalid"
            type="submit"
          />
        </div>
      </ng-template>
    </p-card>
  </form>

  <p>
    <a routerLink="/register">Create account</a>
  </p>
</div>
