<div
  class="postit-wrapper"
  pDraggable
  (click)="$event.stopPropagation()"
  (onDragStart)="dragStartHandler.emit(note)"
  (onDragEnd)="dragEndHandler.emit(note)"
>
  <div
    class="post-it"
    [ngClass]="note?.entity?.toLowerCase()"
    contenteditable
    [textContent]="textModel"
    (input)="onContentChanged($event)"
  ></div>

  <div class="action-buttons">
    <p-button
      icon="pi pi-trash"
      [rounded]="true"
      [text]="true"
      size="small"
      severity="contrast"
      (onClick)="onDeleteClick($event)"
    />
  </div>
</div>
