.postit-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  cursor: default;
  position: relative;

  .action-buttons {
    display: none;
  }

  &:hover .action-buttons {
    display: block;
  }
}

.post-it {
  position: relative;
  background: #ffa;
  overflow: hidden;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1rem;
  font-size: 0.75rem;

  color: #130d6b;

  // Customer-related cards have same color
  &.relationships,
  &.customersegments,
  &.channels {
    background-color: #6782ff;
    color:#fff;
  }

  // Finance related cards have same color
  &.revenuestreams,
  &.coststructure {
    background-color: #b466c1;
    color:#fff;
  }

  // Rest has same color
  &.partners,
  &.activities,
  &.resources,
  &.propositions {
    background-color: #c5f46e;
  }
}

.action-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep {
  .p-button-icon-only {
    width: auto;
    height: auto;
    padding: 0.25rem;
  }
}
