.toolbar {
  grid-area: toolbar;
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  grid-area: content;
}

.page-editor {
  display: grid;
  gap: 0.5rem;

  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    ". toolbar ."
    ". content ."
    ". content ."
    ". content .";

  height: 100%;
}
