<div class="page-overview p-4">
  <div class="mx-auto w-full sm:w-6 sm:pt-8">
    <!-- Header bar -->
    <div class="flex justify-content-between align-items-center">
      <app-logo></app-logo>
      <p-button
        icon="pi pi-sign-out"
        [rounded]="true"
        severity="secondary"
        [outlined]="true"
        pTooltip="Log out"
        (click)="logoutClick()"
      />
    </div>

    <h2 class="mt-8">Welcome!</h2>

    <!-- Loader state -->
    <div
      class="text-center"
      *ngIf="(canvasLoadingState$ | async) === 'loading'; else otherStates"
    >
      <p-progressSpinner styleClass="w-3rem h-3rem" strokeWidth="4" ariaLabel="loading" />
    </div>

    <!-- Error state -->
    <ng-template #otherStates>
      <div *ngIf="(canvasLoadingState$ | async) === 'failed'; else readyState">
        <p>There was an error loading your canvas projects.</p>
      </div>
    </ng-template>

    <!-- Ready state -->
    <ng-template #readyState>
      <div *ngIf="(canvasLoadingState$ | async) === 'ready'">
        <ng-container *ngIf="canvasList$ | async as canvasList">
          <div *ngIf="canvasList.length > 0; else emptyNotice">
            <div
              class="flex flex-column-reverse md:flex-row align-items-center justify-content-between mb-4 mt-6"
            >
              <p>Here is a list of your previously created canvas sheets:</p>
              <div class="mt-md-0 mt-2">
                <p-button
                  label="Create a canvas"
                  icon="pi pi-plus"
                  severity="primary"
                  size="small"
                  class="white-space-nowrap"
                  (click)="newCanvasDialogVisible = true"
                />
              </div>
            </div>

            <app-canvas-table [canvasList]="canvasList"></app-canvas-table>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #emptyNotice>
  <p>Looks like you have not created any canvas yet. Let's get started!</p>
  <p-button
    label="Create a canvas"
    icon="pi pi-plus"
    severity="primary"
    size="small"
    class="white-space-nowrap"
    (click)="newCanvasDialogVisible = true"
  />
</ng-template>

  <p-dialog
    header="Alright!"
    [modal]="true"
    [(visible)]="newCanvasDialogVisible"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '25rem' }"
    [draggable]="false"
    [resizable]="false"
  >
    <span class="p-text-secondary block mb-5">What's the name of your canvas?</span>
    <div class="flex flex-column align-items-stretch gap-3 mb-3">
      <input
        pInputText
        ngModel
        required
        minlength="3"
        maxlength="50"
        id="canvasName"
        class="flex-auto"
        autocomplete="off"
        #canvasName="ngModel"
      />
      <div
        *ngIf="canvasName.invalid && (canvasName.dirty || canvasName.touched)"
        class="text-red-400"
      >
        <span *ngIf="canvasName.errors!['required']">Note: A name is required.</span>
        <span *ngIf="canvasName.errors!['minlength']">
          Note: The name must be at least 3 characters long.
        </span>
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="newCanvasDialogVisible = false"
      />
      <p-button
        label="Start"
        (click)="createNewCanvas(canvasName.value)"
        [disabled]="canvasName.invalid"
      />
    </div>
  </p-dialog>
</ng-template>
