.area {
  height: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;

  box-shadow: 0px 0px 0.5rem #c8c8c8;
  background: #fff;

  display: flex;
  flex-direction: column;
}

.area-header {
  display: flex;
  flex-direction: column;
}

// Horizontal layout of areas only available on larger screens.
// Smaller screens will always use vertical for the areas
@media only screen and (min-width: 768px) {
  .horizontal {
    &.area {
      flex-direction: row;
    }

    .content-area {
      flex: 1;
    }

    .area-header {
      flex: 1;
    }
  }
}

.content-area {
  flex: 1;
  border: 2px dashed #d3d3d3;

  cursor: copy;

  min-height: 4rem;
}

.subtitle {
  font-size: 0.75rem;
}
