<div class="toolbar shadow-2">
  <p-toolbar [style]="{ 'border-radius': '2rem', background: '#fff' }">
    <div class="p-toolbar-group-start">
      <p-button
        size="small"
        [text]="true"
        severity="contrast"
        [link]="true"
        class="mr-3"
        routerLink="/main"
      >
        <i class="pi pi-chevron-left text-sm mr-3"></i>
        <i class="pi pi-home text-lg"></i>
      </p-button>

      <!-- in-place editable name -->
      <p-inplace closable="closable" closeIcon="pi pi-check" (onDeactivate)="onRename()">
        <ng-template pTemplate="display">
          <b class="font-bold">{{ name$ | async }}</b>
          <i class="pi pi-pencil text-sm ml-2"></i>
        </ng-template>
        <ng-template pTemplate="content">
          <input type="text" pInputText [(ngModel)]="enteredName" />
        </ng-template>
      </p-inplace>
    </div>
    <div class="p-toolbar-group-center"></div>
    <div class="p-toolbar-group-end">
      <p-button size="small" [text]="true" severity="contrast" (click)="toggleInfoText()">
        <i class="pi pi-question-circle text-2xl"></i>
      </p-button>
    </div>
  </p-toolbar>
</div>
